mat-card {
    max-width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break:break-word;
}

.header-image {
  background-image: url('/img/avatar.png');
  background-size: cover;
}

.menu-btn {
    position: absolute;
    right: 15px;
    top: 15px;
}

mat-card-content {
    >p >span {
        font-weight: 500;
    }
}