<mat-card appearance="outlined">

    @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }

    <mat-card-header>

        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ user.firstName }} {{ user.lastName }} </mat-card-title>
        <mat-card-subtitle>{{ user.city }}</mat-card-subtitle>

        <button class="menu-btn pointer" mat-mini-fab [matMenuTriggerFor]="mainMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #mainMenu="matMenu">
            <button mat-menu-item (click)="openDialogEditUser()">Edit</button>
        </mat-menu>

    </mat-card-header>

    <mat-card-content>
        <button class="menu-btn pointer" mat-mini-fab [matMenuTriggerFor]="addressMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #addressMenu="matMenu">
            <button mat-menu-item (click)="openDialogEditAddress()">Edit Address</button>
        </mat-menu>
        <p>
            <span>Address: </span> {{ user.street }}, {{ user.zipCode }} {{ user.city }}
        </p>
        <p>
            <span>Birth Date: </span> {{ user.birthDate | date:'d MMM y' }}
        </p>
    </mat-card-content>

</mat-card>