mat-card {
    max-width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break:break-word;
}

.example-header-image {
  background-image: url('/img/avatar.png');
  background-size: cover;
}

mat-card-content {
    >p >span {
        font-weight: 500;
    }
}