.main-container {
    height: 100dvh;
}

.sidenav {
    width: 300px;
    border-radius: 0;
}

.logo-container {
    border-bottom: 3px solid rgba(139, 17, 139, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    font-size: 32px;
    font-weight: 500;
    >img {
        height: 100px;
    }
}

mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

mat-toolbar-row {
    display: flex;
    gap: 16px;
}

.navbar-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
}

.router-container {
    padding: 36px 56px;
}