<mat-drawer-container class="main-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <div class="logo-container">LOGO</div>
    <ul class="navbar-container">
      <li class="navbar-item pointer"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li class="navbar-item pointer"><mat-icon>person</mat-icon>User</li>
      <li class="navbar-item pointer">...</li>
    </ul>
  </mat-drawer>

  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <button class="pointer" matIconButton (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>   
  </div>

</mat-drawer-container>