<mat-card appearance="outlined">

    @if (users$) {

        <mat-card-header>
            <mat-card-title>Users</mat-card-title>
            <mat-card-subtitle>The following users are joining your project:</mat-card-subtitle>
        </mat-card-header>

        <table mat-table [dataSource]="users$" class="mat-elevation-z8 demo-table">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.firstName }} {{ element.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="birthDate">
                <th mat-header-cell *matHeaderCellDef> Birth Date </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.birthDate | date:'d MMM y' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="street">
                <th mat-header-cell *matHeaderCellDef> Street </th>
                <td mat-cell *matCellDef="let element"> {{element.street}} </td>
            </ng-container>

            <ng-container matColumnDef="zipCode">
                <th mat-header-cell *matHeaderCellDef> ZIP Code </th>
                <td mat-cell *matCellDef="let element"> {{element.zipCode}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user', row.id]"></tr>

        </table>

    } @else {
        <div class="no-users">No users added yet.<br><br>To add a new user, click the button below.</div>
    }

</mat-card>

<button class="pointer btn-add-user" mat-fab matTooltip="Add new user" [matTooltipPosition]="'above'"
    (click)="openDialogAddUser()">
    <mat-icon>person_add</mat-icon>
</button>