html, body {
    height: 100%;
}


body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: var(--mat-sys-color-surface);
    color: var(--mat-sys-color-on-surface);
}

.pointer {
    cursor: pointer;
}
